a{
  text-decoration: none;
  color:white;
}
hr{
  border: 1px solid #85a5cc;
  width:50px;
  margin-left: 0;

}
html, body{
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
}
span{
  font-weight: 600;
}
button:focus{
  outline: none;
}
